body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}


#escudo{
    width: 100px;
    height: 100px;
}

#navbar {
    background-color: hwb(214 0% 17%);
    color:azure;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias {
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: lab(61.27% 10.69 -60.32);
    flex-wrap: wrap;
}
.noticia {
    background-color: lab(91.29% -0.61 39);
    color:rgb(0, 0, 0);
    border: 3px solid black;
}
.img_noticia {
    width: 400px;
}

#jogadores {
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 12px;
    background-color: aliceblue;
    flex-wrap: wrap;
}