body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}


#escudo{
    width: 100px;
    height: 100px;
}

#navbar {
    background-color: #1d7fff;
    color:azure;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias {
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
}
.noticia {
    background-color: lab(91.29% -0.61 39);
    color:rgb(0, 0, 0);
    border: 3px solid black;
}
.img_noticia {
    width: 400px;
}