#escudo{
    width: 100px;
    height: 100px;
}
#navbar {
    background-color: #1d7fff;
    color:azure;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}